/.AgregarEditarPlatoWindow.java._trace
/.AgregarEditarPlatoWindow.xtendbin
/.CrearEditarIngrediente.java._trace
/.CrearEditarIngredienteWindow.java._trace
/.CrearEditarIngredienteWindow.xtendbin
/.CrearEditarPanel.java._trace
/.CrearEditarPanel.xtendbin
/.CrearEditarPizza.java._trace
/.DominosApplication.java._trace
/.DominosApplication.xtendbin
/.DominosBootstrap.java._trace
/.DominosBootstrap.xtendbin
/.EditarPedidoWindow.xtendbin
/.ListadoDePedidosAbiertosWindow.java._trace
/.ListadoDePedidosAbiertosWindow.xtendbin
/.ListadoDePedidosCerrados.java._trace
/.ListadoDePedidosCerrados.xtendbin
/.MenuWindow.java._trace
/.MenuWindow.xtendbin
/AgregarEditarPlatoWindow.java
/CrearEditarIngrediente.java
/CrearEditarIngredienteWindow.java
/CrearEditarPanel.java
/CrearEditarPizza.java
/DominosApplication.java
/DominosBootstrap.java
/ListadoDePedidosAbiertosWindow.java
/ListadoDePedidosCerrados.java
/MenuWindow.java
/.ContainsTransformer.java._trace
/.CrearEditarPizzaWindow.java._trace
/.CrearEditarPizzaWindow.xtendbin
/.EditarPedidoWindow.java._trace
/ContainsTransformer.java
/CrearEditarPizzaWindow.java
/EditarPedidoWindow.java
